/* profile page */
.profile-page-card .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .profile-page-card  .title {
    color: grey;
    font-size: 18px;
  }
  .file_upload input{
    width: 200px;
    margin:20px auto 0;
  }
  .profile-page-card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .profile-page-card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .profile-page-card  button:hover, .profile-page-card  a:hover {
    opacity: 0.7;
  }
  
.add-more-smtp.fa-plus-circle, .remove-current-smtp.fa-minus-circle {
    font-size: 25px;
  }
.custom-hoverable-element{
    cursor: pointer;
}
#basic-datatables_info, #basic-datatables_paginate{
  display: none;
}
/* denifit_dashboard style start */
.main-panel .bg-primary-gradient{
  background: inherit !important;
}
.denifit_dashboard .nav-search .input-group{
  border-radius: 30px;
}
.denifit_dashboard .page-inner{
  margin-bottom: 15px;
}
.denifit_dashboard .navbar-header[data-background-color=blue2]{
  background:inherit !important;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}
.denifit_dashboard .main-header .navbar-header[data-background-color] .nav-search .input-group .form-control {
  color: #66788b !important;
  font-size: 16px;
}
.denifit_dashboard .main-header .navbar-header[data-background-color] .nav-search .input-group {
  border: 1px solid #e2e3e4;
  background: #f9fafb !important;
  box-shadow: none;
  transition: all .4s;
  color: #e2e3e4;
}
.denifit_dashboard .main-header .navbar-header[data-background-color] .nav-search .input-group .search-icon {
  color: #16a9f7 ;
  position: relative;
  top:1px;
}
.denifit_dashboard .main-header .navbar-header[data-background-color] .navbar-nav .nav-item .nav-link{
  color: #8d9498 ;
}
.navbar, .card-header{
  background-color: #16a9f7!important;
}
.navbar-brand, .nav-link, .card-header{
  color: white !important;
}
.login_form .container.authentication-card {
  max-width: 60rem;
  margin:0 auto;
  background-color:#fff;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 3px;
}
.login_form .card{
  border:none;
  border-radius:0;
}
.login_form .card-header{
  border-radius:0;
}
.login_form{
  display:flex;
  align-items:center;
}
.login_form .col-lg-6{
  padding:0;
}
.btn-white {
  background-color: #fff;
  border:1px solid #e7eaf3;
  border-radius: 30px;
  width:100%;
  display: inline-block;
  padding: 7px;
  margin:20px 0 30px
}
.btn-white img{
  margin-right:5px;
}
.bg-login {
  background-color: #0259e6 !important;
}
.login_form .form-control{
  border-radius:30px;
}
.login_form .card-body{
  padding:30px;
}
.font-medium.text-sm.text-green-600.mb-4 {
  font-weight: 600;
  color: green;
}
.login_form .full_width_btn{
  margin-bottom:20px;
  width:100%;
  border-radius:30px;
}
.align-items{
  align-items:center;
}
.admin-login{
  display: flex;
  min-height: 100vh;
  align-items: center;
}
.login_form .forgot-passowrd label{
  display: block;
}
.login_form .forgot-passowrd input{
  width:100%;
  border-radius: 30px;
  height: 40px;
  border:1px solid #ced4da !important;
  color:#ced4da;
  padding:10px 15px;
  outline: none !important;
}
.login_form input{
  outline: none !important;
}
.login_form .forgot-passowrd button{
  border-radius: 30px;
  cursor: pointer;
  background-color: #16a9f7;
  border-color: #16a9f7;
  width:100%;
  outline: none;
}
button{
  outline: none !important;
}
.text-red-600{
  color:red;
}
#basic-datatables_wrapper {
  padding: 0;
  margin-bottom: 0 !important;
}
#basic-datatables_wrapper table.dataTable{
  margin-bottom: 0 !important;
}
.col-left-patteren{
  position: relative;
}
.col-left-patteren:after{
  content: '';
  position: absolute;
  top:0;
  left:-50px;
  height: 100%;
  width: 1px;
  border-left:2px dashed #16a9f7;
}
.login-separater{
  position: relative;
  top:5px;
}

.login-separater span {
  position: relative;
  top: 0;
  background: #fff;
  padding: 5px;
  font-size: 12px;
  color: #cbcbcb;
  z-index: 1;
}
.login-separater hr{
  position: relative;
  top:-26px;
}
.border-top {
  border-top: 1px solid #dee2e6!important;
}
.rounded-circle {
  border-radius: 50%!important;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.login_form a.admin-link-btn{
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 30px;
  border-radius: 30px;
  border:2px solid transparent;
}
.login_form a.admin-link-btn:hover{
  background-color: #fff;
  color:#007bff;
  border:2px solid;
}
.login_form a.client-link-btn{
  display: inline-block;
  
  padding: 8px 30px;
  border-radius: 30px;
  background-color: #fff;
  color:#007bff;
  border:2px solid;
  
}
.login_form a.client-link-btn:hover{
  background-color: #007bff;
  color: #fff;
  border:2px solid transparent;
}
.d-flex {
  display: flex!important;
}
.gap-3 {
  gap: 1rem!important;
}
.pricing-content{
  padding:0;
  margin:0;
}
.pricing-content li{
  display: inline-block;
  text-transform: capitalize;
}
.all-plan-table tr td h3{
  font-size: 14px;
  margin-bottom: 0;
}
/* effect-5 styles */
.effect.effect-5 {
  transition: all 0.2s linear 0s;
}
.effect.effect-5:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #3461ff42;
  border-radius: 50% 50% 50% 50%;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}
.effect.effect-5{
  position: relative;
  overflow: hidden;
  line-height: 20px;
}
.effect.effect-5 i{
  display: none;
  position: absolute;
  top:14px;
  left:18px;
  color:#fff;
}
.effect.effect-5 span{
  transition: all 0.2s linear 0s;
}
.effect.effect-5:hover span {
  text-indent: 30px;
  margin-left: 10px;
  color: #fff;
  z-index: 10000;
}
.effect.effect-5:hover i{
  display: inline-block;
}
.effect.effect-5:hover:before {
  transform: scale(1, 3);
  text-indent: 0;
  left:0px;
}
.inline-element{
  display: inline-block;
  position: relative;
}
.all-plan-table tr td textarea{
  width:100%;
  border:1px solid #3461ff;
  border-radius: 6px;
  padding: 5px 10px;
  text-align: center;
  height: 50px;
  overflow: hidden;
  font-size: 12px;
  line-height: 40px;
  text-indent: -120px;
}
.all-plan-table tr td .btn-clipboard{
  padding: 3px 20px;
  line-height: 20px;
  color: #16a9f7;
}
.all-plan-table tr td .btn-clipboard svg{
  width:13px;
  height:100%;
  fill: #000;
}
.all-plan-table tr td .btn-clipboard:hover{
  background-color:#16a9f7;
  color: #fff;
}
.delete-btn{
  border:none;
  background-color: inherit;
}
.delete-btn i{
  color:red;
  cursor: pointer;
}
.main-panel.user-edit-bg .bg-primary-gradient {
  background-image: url(/assets/admin/theme/img/user-profile-bg.jpeg) !important;
  background-size: cover !important;
  background-position: center !important;
  padding: 0 0 216px;
}
.main-panel.user-edit-bg .content{
  min-height: auto;
}
.main-panel.user-edit-bg .content .page-inner{
  position: inherit;
  padding-top: 20px;
}
.main-panel.user-edit-bg .page-inner{
  padding-top: 0;
  position: relative;
  top:-70px;
}
.clip-btn{
  cursor: pointer;
}
td.flex-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-not-found .main-panel{
  width: 80%;
  margin:0 auto;
  float: none;
  height: auto;
}
/* textarea.clickcopyborad{
  cursor: pointer;
} */
textarea.clickcopyborad.active{
  background-color: #16a9f7;
  color: #fff;
}
textarea.clickcopyborad + .copied-tooltip{
  display: none;
}
.table-actions.d-flex.align-items-center.gap-3.fs-6{
  position: relative;
}
textarea.clickcopyborad.active + .copied-tooltip{
  display: inline-block;
  position: absolute;
  top: -46px;
  left: 0;
  right:50px;
  text-align: center;
  background-color: #082543;
  width: 130px;
  margin: 0 auto;
  padding: 6px 6px 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
}
textarea.clickcopyborad.active + .copied-tooltip:after{
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #082543;
  content: '';
  position: absolute;
  bottom: -10px;
  left: auto;
  right: 52px;
  text-align: center;
}
.page-not-found .main-header .navbar-header{
  min-height: 60.5px;
}
.page-not-found .main-header{
  position: inherit;
}
.page-not-found .main-panel .content{
  margin-top: 30px;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0)
	}
	to {
		opacity: 1;
		transform: none
	}
}

.fadeInUp {
	animation-name: fadeInUp
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animated {
	animation-duration: 1s;
	animation-fill-mode: both
}

.animated.fasterTime {
	animation-duration: .2s
}

.animated.mediumTime {
	animation-duration: .4s
}

.animated.slowerTime {
	animation-duration: .6s
}

.animated.infinite {
	animation-iteration-count: infinite
}

.animated.hinge {
	animation-duration: 2s
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
	animation-duration: .75s
}

.card-body a:hover {
  text-decoration: none;
}

@keyframes bounce {
	from,
	20%,
	53%,
	80%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 0, 0)
	}
	40%,
	43% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: translate3d(0, -30px, 0)
	}
	70% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: translate3d(0, -15px, 0)
	}
	90% {
		transform: translate3d(0, -4px, 0)
	}
}
.mb-0{
  margin-bottom: 0 !important;
}
/* denifit_dashboard style end */