/* profile page */
.profile-page-card .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .profile-page-card  .title {
    color: grey;
    font-size: 18px;
  }
  
  .profile-page-card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .profile-page-card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .profile-page-card  button:hover, .profile-page-card  a:hover {
    opacity: 0.7;
  }
  
.add-more-smtp.fa-plus-circle, .remove-current-smtp.fa-minus-circle {
    font-size: 25px;
  }
.custom-hoverable-element{
    cursor: pointer;
}
#basic-datatables_info, #basic-datatables_paginate{
  display: none;
}